* {
    box-sizing: border-box;
    padding: 0;
    margin: 0px;
}




h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 65pt;
    text-align: center;
    background-image: linear-gradient(white, #cae8f0);
   
    color:#3b6ee4;

}

h3{
    font-family: optima;
    font-size: 3 pt;
    text-align: left;
    color:white;

}

h4{
    font-family: optima;
    font-size: 3 pt;
    text-align: center;
    color:white;

}
#p5 {
    font-family: optima;
    font-size: 15 pt;
    text-align: center;
    color:#3b6ee4;
    text-decoration: underline;

}
#dayByday{
    font-family: optima;
    font-size: 15 pt;
    text-align: center;
    color:#3b6ee4;

}

#searchArea{
    margin-left: 5px;
}
#spacer{
    margin-left: 5px;
}
#currentTemps {
    font-family: optima;
    font-size: 3 pt;
    text-align: left;
    color:white;
}

#currentForecast{
    border: 2px solid #3b6ee4;
    border-radius: 0px;
    background-color: #3b6ee4;

  
}

#fiveDay{
    background-color: #3b6ee4;
    border-radius: 10px;
    background-image: linear-gradient(white, #cae8f0);
   
    
}


.fiveForecast{
    /* background-color: #3b6ee4; */
    display: inline-flex;
    /* border-radius: 10px; */
   
    /* margin: 0px;
    background-image: linear-gradient(white, #cae8f0); */
    /* display: inline-space-between; */
}

.forecast-day{
    border: 2px solid #7a7bca;
    /* border-right: 2px solid #7a7bca; */
    border-radius: 10px;
    background-image: linear-gradient(white, #cae8f0);

    margin: 0px
}